$color-primario:#5265E1;
$color-secundario:#FA5959;
$font-color-navbar:black;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.nav-link{
    color:$font-color-navbar
}

#chrome{
    background-color: $color-primario;
    color: white;
}

#login{
    background-color: $color-secundario;
    color: white;
}


.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    border-bottom: 3px solid red; /* Cambia el color y el grosor de la línea como prefieras */
  }

  .justify-content-center{
    border-bottom-style: inset;
  }

  .nav-underline .nav-link{
    text-decoration: none !important; 
    
  }

  .nav-underline .nav-link:hover{
    color:$color-secundario;
    border-bottom: 0px;
  }

@media only screen and (max-width: 600px) {

    .first-text{
        text-align:center;
    }
}
